/**
* project-style.css.css
*/

/**********************
    General rules
***********************/
* {
    padding : 0;
    margin:  0 ; 
}

/*******************
    body rules
********************/
body{
    background-color: whitesmoke;  
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* This is used to avoid any accidental selections when creating the balls */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/****************************
    Title, popup and ball
*****************************/
#title span {
    font-size: 10px;
}

#popup-message{
    background-color: coral;
    opacity: 0;
    z-index: 2;
    position: fixed;
        top: 0;
        left: 30%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.ball{
    border-radius: 100%;
    position: absolute;
}

/****************
    Info panel
*****************/
#info-panel {
    position: absolute;
        top: 50px;
        left: 10%;
    width: fit-content;
    font-size: 24px;
}

    #info-panel .info-element{
        color: #333333;
        margin-right: 60px;
    }

/************************
    Top control panel
*************************/
#top-controls {
    position: absolute;
        top: 45px;
        right: 3%;
    height: 48px;
}

#top-controls .top-button {
    display: inline-block;
    margin-right: 20px;
}

/* Play-Pause */
#pp-button {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid #333333;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.1s ease-in-out;
}

.btn:hover {
    background-color: #c8c8c8;
}

.btn .bar {
    display: inline-block;
    position: absolute;
        top: 10px;
        left: 0;
    width: 4px;
    height: 20px;
    border-radius: 4px;
    background-color: #333333;
    transform-origin: center;
    transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}

.btn.play .bar-1 {
    transform: translateX(13.5px) translateY(0px) rotate(0deg);
}

.btn.play .bar-2 {
    transform: translateX(24px) translateY(0px) rotate(0deg);
}

.btn.pause .bar-1 {
    transform: translateX(20px) translateY(-5px) rotate(-55deg);
}

.btn.pause .bar-2 {
    transform: translateX(20px) translateY(5px) rotate(-125deg);
}

/* Reset */
#reset {
    position: relative;
        top: -15px;
    display: inline-block;
    text-align: center;
    border: 3px solid #333333;
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

#reset:hover {
    background-color: #c8c8c8;
}

#reset img {
    position: relative;
        top: 6px;
    width: 70%;
    height: 70%;
    transition: transform 0.8s;
}

#reset .rotate {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

/************************
    Side control panel  
*************************/
#side-controls {
    position: absolute;
        top: 150px;
    width: 3.75%;
    margin-left: 2%;
}

.side-button {
    display: block;
    margin-bottom: 18px;
    cursor: pointer;
}

.side-button:hover {
    box-sizing: content-box;
    background-color: #c8c8c8;
    border: 2px solid #333333 ;
    border-radius: 10px;
}

.side-button label {
    display: block;
    cursor: pointer;
}

.side-button img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

input[type="file"], input[type="color"] {
    display: none;
}

/********************
    Playground area
*********************/
#playground-area {
    position: absolute;
        top: 102px;
    width: 90%;
    height: 80%;
    margin-right: 2.5%;
    margin-left: 8%;
    background: #D8DFD5;
    border: solid #707070 2px;
    border-radius: 25px;
}

/*****************************
    Mouse coordinates panel
******************************/
#coordinates {
    z-index: 9999;
    position: absolute;
        top: 90%;
        right: 150px;
    height: 30px;
    width: 130px;
    text-align: center;
    padding-top: 5px;
    color: #333333;
    background-color: white;
    border-radius: 15px;
}


/*******************
    Mediaqueries
********************/

@media screen and (max-width: 1300px) {
    #side-controls {
        width: 5%;
        margin-left: 1.5%;
    }

    #playground-area {
        width: 88%;
        margin-left: 9%;
    }
}

@media screen and (max-width: 720px) {
    #side-controls {
        width: 8%;
        margin-left: 2%;
    }

    #playground-area {
        width: 80%;
        margin-left: 15%;
    }

    #top-controls {
        height: 35px;
    }

    #reset {
        height: 27px;
        width: 27px;
    }

    #reset img {
        top: 4px;
    }

    .btn {
        position: relative;
            bottom: 3px;
        width: 27px;
        height: 27px;
    }

    .btn .bar {
        display: block;
        position: absolute;
            top: 5px;
            left: -6px;
        width: 3px;
        height: 18px;
        border-radius: 2px;
    }

    #info-panel {
        font-size: 18px;
    }   
    
    #info-panel .info-element{
        margin-right: 20px;
    }
    
    #playground-area {
        top: 96px;
    }
}

@media screen and (max-width: 470px) {
    #velocity-counter,
    #size-counter {
        opacity: 0;
    }

    #info-panel {
        position: absolute;
        font-size: 24px;
    }
}

